/* COMMON RULES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.flex{
    display: flex;
}

.opacity{
    opacity: .5;
}

.font-65{
    font-size: .65rem;
}

.main-container{
    width: 100%;
    height: calc(100vh - 80px);
    overflow: auto;
}

.column{
    flex-direction: column;
}
/* MAIN: SIDE BAR */

.side-bar{
    background-color: black;
    color: white;
    width: 250px;
    height: 100%;
    min-height: 450px;
    position: relative;
    flex-shrink: 0;
}

.logo{
    margin: 15px 10px;
    width: 50%;
}

.side-top{
    height: calc(100% - 80px);
}
.icon-list{
    justify-content: flex-start;
    align-items: center;
}
.icons{
    width: 1.5rem;
    margin: 10px;
}

.icons:hover{
    opacity: 1;
}

li span{
    margin-left: 10px;
    align-self: center;
}

.playlist{
    margin: 10px;
    overflow: hidden;
}

.playlist h3{
    margin: 20px 0 5px 0;
}

.playlist-ul{
    list-style: none;
    line-height: 2rem;
    overflow-y: scroll;
}
.playlist-ul span{
    font-size: 2rem;
    background-color: gray;
    padding: 1px 10px;
    margin-left: 0;
}

.install, .user{
    width: 2rem;
    margin: 10px;   
}

.install:hover{
    opacity: 1;
}

hr{
    margin: 0 10px;
}

.user img{
    opacity: 1;
    border-radius: 50%;
    background-color: lightgray;
    vertical-align: middle;
}
.user p{
    vertical-align: middle;
}
.side-bottom{
    position: absolute;
    height: 80px;
    width: 250px;
    bottom: 50px;
    background-color: black;
}


/* CALL TO ACTION */

.call-to-action{
    background-color: black;
    height: 60px;
    width: calc(100% - 250px);
    z-index: 10;
    justify-content: right;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 250px;
}
.call-to-action div{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin: 10px;
    font-size: .5rem;
    padding: 2px 15px;
}  


/* MAIN: RIGHT SIDE */

.main{
    background-color: rgb(20, 25, 34);
    width: calc(100vw - 250px);
    color: white;
}

nav{
    width: 100%;
}

#main-nav ul{
    list-style: none;
}


.main-nav ul{
    justify-content: center;
    margin-top: 70px;
}
.main-nav li{
    list-style: none;
    color: white;
    font-size: .5rem;
    padding: 0 10px;
}

.main-nav li:hover{
    border-bottom: 2px solid rgb(173, 249, 48);
}

.cards{
    width: 100%
}
.card{
    width: calc(100% /6 - 10px);
    margin: 10px;
}
.card img{
    width: 100%;
}

.overlay{
    background-color: black;
    z-index: 3;
    width: 100%;
}
/* FOOTER: PLAYER */

footer{
    height: 80px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    justify-content: space-between;
    z-index: 15;
}

footer i{
    color: white;
    align-self: center;
    padding: 20px;
}


.left-footer img{
    padding: 10px;
}

.bottom-footer{
    height: 4px;
    width: 100%;
    background-color: gray;
}

.bar{
    height: 4px;
    width: 30%;
    background-color: lightgrey;
    z-index: 3;
}
/* MEDIA QUERIES */

/* RESP. TABLET */
@media screen and (max-width: 768px){
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% / 4 - 10px);
    }
}
/* RESP. MOBILE */
@media screen and (max-width: 576px) {
    .side-bar{
        width: 50px;
    }
    #icon-text{
        display: none;
    }

    .card{
        width: calc(100% / 2 - 10px);
    }
}
