/* COMMON RULES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.flex{
    display: flex;
}

.opacity{
    opacity: .5;
}

.font-65{
    font-size: .65rem;
}

.main-container{
    width: 100%;
    height: calc(100vh - 80px);
}
/* MAIN: SIDE BAR */

.side-bar{
    background-color: black;
    color: white;
    width: 250px;
    height: calc(100vh - 80px)
}

.logo{
    margin: 15px 10px;
    width: 50%;
}

.icon-list{
    justify-content: flex-start;
    align-items: center;
}
.icons{
    width: 1.5rem;
    margin: 10px;
}

.icons:hover{
    opacity: 1;
}

li span{
    margin-left: 10px;
    align-self: center;
}

.playlist{
    margin: 10px;
}

.playlist h3{
    margin: 20px 0 5px 0;
}

.playlist-ul{
    list-style: none;
    line-height: 2rem;
}


.install, .user{
    display: block;
    width: 2rem;
    margin: 10px;
}

.install:hover{
    opacity: 1;
}

hr{
    margin: 0 10px;
}

.user img{
    opacity: 1;
    border-radius: 50%;
    background-color: lightgray;
}

.side-bottom{
    position: sticky;
    bottom: 0;
}


/* CALL TO ACTION */

.call-to-action{
    background-color: black;
    height: 60px;
    width: calc(100% - 250px);
    z-index: 10;
    justify-content: right;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 250px;
}
.call-to-action div{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin: 10px;
    font-size: .5rem;
    padding: 2px 15px;
}  


/* MAIN: RIGHT SIDE */

#main-nav ul{
    list-style: none;
}



.main{
    background-color: rgb(20, 25, 34);
    width: calc(100% - 250px);
}

.main-nav ul{
    justify-content: space-around;
    margin-top: 80px;
}
.main-nav li{
    list-style: none;
    color: white;
    font-size: .5rem;
    padding: 0 20px;
}

.main-nav li:hover{
    border-bottom: 2px solid rgb(173, 249, 48);
}























/* FOOTER: PLAYER */

footer{
    height: 80px;
    background-color: rgb(40, 40, 40);
    justify-content: space-between;
    z-index: 15;
}

footer i{
    color: white;
}

.left-footer{
    padding: 10px;
}
